@font-face {
  font-family: Rossano;
  src: url(fonts/rossano.regular.ttf);
}

.blend-box {
    display: none;
    border: 1em solid #111;
    border-radius: 4px;
    position: absolute;
    margin-left: -10em;
    background: #222;
    height: 30em;
    width: 20em;
    left: 50%;
    top: 0;
}

#analysis-result {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;  
    background-position: center center;  
}

#input-box {
    -webkit-transition: opacity 0.5s ease;
    position: absolute;
    bottom: 2em;
    right: 2em;
    left: 2em;
    top: 2em;
}

.cancelable #input-box {
    opacity: 0;
}

.input-thumb {
    -webkit-transition: all 3s ease;
    background-position: center center;
    border: 0.5em solid #f89406;
    background-size: cover;
    display: inline-block;
    margin: -2.5em -2.5em;
    border-radius: 100em;
    position: absolute;
    height: 5em;
    width: 5em;
    left: 50%;
    top: 50%;
}

.blending .input-thumb {
    -webkit-transition: all 0.5s ease-in;
    left: 50% !important;
    top: 50% !important;
}

.analysing #result {
    display: none;
}

#result {
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

#progress-text {
    text-align: center;
    font-family: Helvetica;
    position: absolute;
    margin-top: -0.5em;
    font-weight: bold;
    font-size: 2em;
    display: none;
    color: #333;
    width: 100%;
    top: 50%;
}

.share-button {
    -webkit-transition: opacity 0.5s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #666;
    background-size: 90%;
    position: absolute;
    border-radius: 4em;
    cursor: pointer;
    font-size: 1em;
    display: block;
    border: none;
    height: 4em;
    opacity: 0;
    width: 4em;
    left: 50%;
    top: 50%;
}

.finished-blending.contains-result #contrast-slider,
.finished-blending.contains-result .share-button {
    -webkit-transition: opacity 0.5s 1s ease;
    opacity: 1;
}

#image-download {
    background-image: url('../images/download-icon.svg');
    margin: 13em 5em;
}

#facebook-share {
    background-image: url('../images/facebook-icon.svg');
    margin: 13em 0.5em;
}

.analysing #progress-text {
    display: block;
}

.box-container {
    position: relative;
    height: 34em;
    width: 100%;
}

.smoishele-logo {
    background-image: url('../images/smoishele-logo-square.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.facebook button {
    background-image: url('../images/facebook-icon.svg');
    background-color: transparent;
}

.upload-button {
    background-image: url('../images/upload-icon.svg');
    background-color: transparent;
    cursor: pointer;
}

.analysing .progress-circle,
.blending .progress-circle {
    display: block;
}

.progress-circle {
    margin-left: -5.75em;
    margin-top: -0.75em;
    position: absolute;
    height: 11.5em;    
    width: 11.5em;
    display: none;
    left: 50%;
}

.analysing .progress-circle path {
    -webkit-transition: all 0.3s ease;
}

.progress-circle path {
    stroke: #f89406;
    stroke-width: 5;
    opacity: 1;
    fill: none;
}

.input-option {
    -webkit-transition: all 1s ease;
    background-color: lightblue;
    vertical-align: middle;
    display: inline-block;
    border-radius: 10em;
    position: absolute;
    margin-left: -5em;
    height: 10em;
    width: 10em;
    left: 50%;

    button, input, .upload-button {
        background-position: center center;
        background-size: contain;
        position: absolute;
        margin: -3.5em;
        border: none;
        height: 7em;
        outline: 0;
        width: 7em;
        left: 50%;
        top: 50%;
    }

    input[type=file] {
        opacity: 0.01;
        cursor: pointer;
    }
}

header {
    position: absolute;
    margin: 0.5em;
    width: 10em;
    height: 2em;
}

.input-option.upload {
    -webkit-transform: translate(-4em, 4em);
    background-color: #3498db;
    margin-right: -1em;
}

.input-option.facebook {
    -webkit-transform: translate(4em, 4em);
    background-color: #2ecc71;
}

.input-option.smoishele-logo {
    -webkit-transform: translate(0, -4em);
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    left: 50%;
}

.analysing.cancelable .smoishele-logo {
    background-image: none;

    &::after {
        background-color: #666;
        border-radius: 0.4em;
        position: absolute;
        margin: -1.5em;
        content: '';
        height: 3em;
        width: 3em;
        left: 50%;
        top: 50%;
    }
}

.finished-blending .input-option.smoishele-logo {
    margin-left: -10em;
    margin-top: -7.5em;
    border-radius: 2em;
    height: 25em;
    width: 20em;
}

.blending .input-option,
.analysing .input-option,
.finished-blending .input-option {
    -webkit-transform: none;
}

.during-intro .input-option {
  -webkit-transform: rotate(-1800deg);
  -webkit-transition: none;
  opacity: 0;
}

main {
    position: absolute;
    margin-left: -10em;
    margin-top: -5em;
    height: 10em;
    width: 20em;
    top: 50%;
    left: 50%;
}

#advanced {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}

#advanced:target {
  display: block;
}

.analysing #graph {
    opacity: 1;
}

#graph {
    -webkit-transition: opacity 2s 1s ease;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#information {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ddd;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  line-height: 1.25em;
  position: absolute;
  margin-left: -12.5em;
  margin-top: -13em;
  font-size: 0.8em;
  display: none;
  padding: 1em;
  height: 26em;
  width: 25em;
  left: 50%;
  top: 50%;

  h3 {
    margin-bottom: 0.25em;
    font-weight: bold;
  }

  p {
    margin-bottom: 0.5em;
  }

  a img {
    width: 9em;
  }
}

.show-info #information {
  display: block;
}

.show-info h1 {
  color: #f89406;
}


#introduction {
  position: absolute;
  margin-left: -5em;
  text-align: center;
  margin-top: -3em;
  line-height: 2em;
  font-size: 2em;
  height: 6em;
  width: 10em;
  left: 50%;
  top: 50%;
}

#introduction .intro1 {
  transition: opacity 1s ease;
  opacity: 0;
}

.show-intro #introduction .intro1 {
  opacity: 1;
}

#introduction .intro2 {
  transition: opacity 1s ease 1s;
  opacity: 0;
}

.show-intro #introduction .intro2 {
  opacity: 1;
}

#introduction .intro3 {
  transition: opacity 1s ease 2s;
  opacity: 0;
}

.show-intro #introduction .intro3 {
  opacity: 1;
}

h1 {
  margin-left: 0.15em;
  cursor: pointer;
  font-size: 2em;
}

h1::before {
  position: relative;
  content: ":";
  top: -0.15em;
}

body {
    font-family: Rossano;
    background: #ecf0f1;
    color: #666666;
}

#contrast-slider {
  -webkit-transition: opacity 0.5s ease;
  margin: 28.5em 1em 0;
  width: 13em;
  opacity: 0;
}